In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython-sql) (1.3.18)
Collecting sqlparse
  Downloading sqlparse-0.3.1-py2.py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 2.3 MB/s eta 0:00:01
Requirement already satisfied: pickleshare in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (49.2.0.post20200712)
Requirement already satisfied: pygments in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: traitlets>=4.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: ptyprocess>=0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /srv/conda/envs/notebook/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13698 sha256=88ceb781afc7d0bc149490820010f8a4a1f719683895d3b2230b4e41b4bc60d6
  Stored in directory: /home/jovyan/.cache/pip/wheels/8c/76/0b/eb9eb3da7e2335e3577e3f96a0ae9f74f206e26457bd1a2bc8
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.3.1

# 5 simple statement
## DDL / Data Definition Language
Define, Change, Drop
## DML / Data Manipulation Language
Read, Update

In [3]:
%%sql
# Create Table
CREATE TABLE author
    (author_id CHAR(2) CONSTRAINT AUTHOR_PK PRIMARY KEY (author_id) NOT NULL,
    lastname VARCHAR (15) NOT NULL,
    firstname VARCHAR(15) NOT NULL,
    email VARCHAR(40),
    city VARCHAR(15),
    country CHAR(2)
    )

UsageError: Cell magic `%%sql` not found.

In [ ]:
#SELECT statement
SELECT book_id, title from book WHERE book_id = 'B1';

SELECT COLUMN1, COLUMN2, ... from TABLE1 ;


select ID, NAME from COUNTRY ;

select * from COUNTRY ;

select * from COUNTRY where ID < 5 ;

In [ ]:
#COUNT
Select COUNT(*) from tablename

SELECT COUNT(COUNTRY) from MEDALS where COUNTRY='CANADA'

In [ ]:
#DISTINCT
SELECT DISTINCT columnname from tablename

SELECT DISTINCT COUNTRY from MEDALS where Medaltype='gold'

In [ ]:
#Limit
SELECT * from tablename LIMIT 10

SELECT * from tablename where YEAR = 2018 LIMIT 10

#DML

In [ ]:
#Insert
INSERT INTO tablename 
    (Author_ID, Lastname, Firstname, '...', 
    )
VALUES
('A1','Chong','PAUL','...')
('A2','Ahuja','RAJ','...')

In [ ]:
#Update
UPDATE Tablename 
SET ColumnName=Value WHERE [Condition]

UPDATE Author
SET Lastname = KATTA
    Firstname = Lakshmi
WHERE Author_ID = A2

In [ ]:
#DELETE
DELETE from Tablename
    Where [CONDITION]
    
DELETE from Author where Author_id in ('A2','A3')\